@inject TokenService TokenService
@inject NavigationManager NavigationManager
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    protected override Task OnParametersSetAsync()
        => TokenService.GetTokenAndRoleAsync()
            .ScanResult(
                result =>
                {
                    if (result.IsSuccess == false || !TokenService.IsSiteAdmin)
                    {
                        NavigationManager.NavigateTo("/login");
                    }
                });

}