@inject TokenService TokenService
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SiteAdminWeb</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            @if (TokenService.HasToken)
            {
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            @if (TokenService.HasToken)
            {
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
                </NavLink>
            }
        </div>

        <div class="nav-item px-3">
            @if (TokenService.HasToken)
            {
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            @if (!TokenService.HasToken)
            {
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Login
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            @if (TokenService.HasToken && TokenService.IsSiteAdmin)
            {
                <NavLink class="nav-link" href="tenants">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Tenant
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            @if (TokenService.HasToken && TokenService.IsSiteAdmin)
            {
                <div @onclick="LogOut">
                    <NavLink class="nav-link">
                        <span class="bi bi-list-nested" aria-hidden="true"></span> Log Out
                    </NavLink>
                </div>
            }
        </div>
    </nav>
</div>

@code {
    private bool IsLoggedIn = false;
    protected override Task OnParametersSetAsync() => TokenService.GetTokenAndRoleAsync().ScanResult(result => IsLoggedIn = result.IsSuccess);

    public Task StateHasChangedAsync() => TokenService.GetTokenAndRoleAsync()
        .ScanResult(result => IsLoggedIn = result.IsSuccess)
        .DoResult(
            _ => { StateHasChanged(); });

    private async Task LogOut()
    {
        var result = await TokenService.LogOutAsync();
        if (result.IsSuccess)
        {
            NavigationManager.NavigateTo("/login");
        }
    }

}